export(ChemSpider.annotation, multilevelannotation,
get_mz_by_KEGGpathwayIDs,get_mz_by_monoisotopicmass,get_mz_by_KEGGspecies,
get_mz_by_KEGGcompoundIDs,get_brite_res,
get_kegg_map,Annotationbychemical_IDschild,find.Overlapping.mzs,getVenn,
check_golden_rules,check_element,KEGG.Annotation,HMDB.Annotation,
T3DB.Annotation,LipidMaps.Annotation,multilevelannotationstep2,get_allinf, get_chemscorev1.6.71,
get_confidence_stage2, get_confidence_stage4,group_by_rt_histv1,group_by_rt_histv2,group_by_rt,
Annotationbychemical_IDschild_multilevel,find.Overlapping.mzsvparallel,overlapmzchild)
import(XML, R2HTML, RCurl, doSNOW, foreach, WGCNA, SSOAP, png, rjson, snow, plyr, KEGGREST, pcaMethods, flashClust, Rdisop)
exportClasses(info)
importClassesFrom(SSOAP)
importMethodsFrom(SSOAP)